<!-- your html code here -->
<div class='container-fluid sticky-top'> 
        <nav class="navbar navbar-expand-lg bg-dark  link">
                <a class="navbar-brand whiteText" href="#">DEDSEC</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link whiteText" href="#cardStart"> About <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link whiteText" href="#portfolio"> Portfolio <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link whiteText" href="#contact"> Contact <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>  
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
                TRY ME
            </button>
        </nav>
</div>
                <!-- Modal -->
                <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-body text-center">
                            <h5>Youve been hacked</h5>
                            <img src="https://media0.giphy.com/media/8WeatsYCC54TC/giphy.gif?cid=790b761111f478074c2b09e0b704553924154e8885f266dc&rid=giphy.gif">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <h5>Good Luck</h5>
                        </div>
                        </div>
                    </div>
                </div>       
            </div>

