* {
    color: rgba(248, 248, 248, 0.911);
    font-family: 'Lacquer', sans-serif;
}

body{
    background-image: url(https://cdn.lowgif.com/full/57d2bd526e9feb2b-defalt-logo-mosaic-animated-010101-by-junguler-d834vms-gif-1000.gif);
    background-size: 100%;
}


 .jumbotron-top{
/*Jumbotron*/
    background-image: url(https://em.wattpad.com/087be1284f75dd1f5796a3ad02895263b7c16bf4/68747470733a2f2f732d6d656469612d63616368652d616b302e70696e696d672e636f6d2f6f726967696e616c732f65312f65382f63302f65316538633039613634306336363030613931366536353538663566323163632e676966?s=fit&h=360&w=360&q=80);
    background-size: 100%;
    width: 100%;
    height: 1000px;
	background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0;
    margin-top: 0px!important;   
}

.main-jumbo {
    padding: 0;
    margin: 0;
}

.container-fluid {
    margin: 0px;
    padding: 0px;
}

.display-4{
    background-color: whitesmoke;
    font-weight: bold; 
}




.lead1{background-color: whitesmoke;
font-weight: bold;
}   
   
.whiteText {
color: white
}

.modal-content {
    background-color: rgb(0, 0, 0);
}

.link {
    background-color: rgba(26, 26, 26, 0.336)!important;
    position: absolute;
    width: 100%;
}

/* Cards */
.cardss {
    border: none;
    margin-bottom: 20px;
    background-color: rgba(83, 83, 83, 0.541);
}

.imgcircle1 {
    border-radius: 50%;
    width: 200px;
    height: 300px;
}
.imgcircle2 {
    border-radius: 50%;
    width: 200px;
    height: 300px;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: none;
  perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
 
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: rgba(187, 187, 187, 0);
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: rgba(128, 128, 128, 0);
  color: rgba(248, 248, 248, 0.911);
  transform: rotateY(180deg);
}

/* carousel */

.carousel {
    height: 600px;
    width: 100%;
    margin-left: 0px;
}

.slide {
    height: 600px;
    margin-top: 50px;
}

/* Portfolio */



.portfolio-jumbotron {
    border-top: solid rgba(199, 199, 199, 0.548) 1px;
    background-color: rgba(255, 255, 255, 0);
}

.portfolio-jumbotron-header {
    font-size: 40px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0);
}

.portfolio-icon {
    transition: all 0.6s ease-in-out 0s;
}

.portfolio-icon:hover {
    cursor: default;
    transform: rotate(360deg);
    transition: all 0.6s ease-in-out 0s;
}

.portfolio-jumbotron-text {
    margin-bottom: 8px;
    background-color: rgba(255, 255, 255, 0);
}

.portfolio-deck {
    padding-bottom: 100px;
    margin-bottom: 30px;
    border-bottom: solid rgba(199, 199, 199, 0.548) 1px;
    background-color: rgba(255, 0, 0, 0);
}

.card-body {
    background-color: rgba(0, 0, 0, 0);
}

.portfolio-card {
    background-color: rgba(83, 83, 83, 0.541);
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

.portfolio-card:hover {
  top: -10px;
  box-shadow: 0px 0px 10px 0px black;
}

.portfolio-links {
    text-decoration: none;
    color: rgba(70, 70, 70, 0.911);
}

.portfolio-links:hover {
    text-decoration: none;
    color: black;
}

/* Form */
.form-container {
    margin: 0 auto;
    margin-bottom: 30px;
    max-width:750px;
    border-radius: 2px;
    padding: 8px 8px 25px 1px;
    background-color: rgba(83, 83, 83, 0.541);
    box-shadow: 0 0 2px black;
}


/* Footer */
.footer {
    color: rgba(248, 248, 248, 0.911)!important;
}


